In [1]:
import pandas as pd
#link to IMDB datset can be found on the following line 
#https://github.com/Scogs25/Box_office_Analysis/tree/master/zippedData

In [2]:
Movies_mojo=pd.read_csv('Box_Office_Mojo_Domestic_Box_Office_Chart.csv')
Movies_mojo.head()

,Unnamed: 0,Title,Gross,Max_Theaters,Opening_Weekend_Theaters,Opening_Weekend_Gross,Opening_Weekend_Percent_of_Gross,Distributor,Genres,Rating,Runtime,Date
0,0,The Woman in Black 2: Angel of Death,26501323.0,2602,2602,15027415.0,56.7,Relativity Media,"['Drama', 'Horror', 'Thriller']",PG-13,98,2015-01-02
1,1,The Search for General Tso,54275.0,13,2,9336.0,17.2,IFC Films,"['Comedy', 'Documentary', 'History', 'Mystery']",NaN,71,2015-01-02
2,2,The Taking of Tiger Mountain,228984.0,13,7,50621.0,22.1,Well Go USA Entertainment,"['Action', 'Adventure', 'Biography', 'History'...",NaN,141,2015-01-02
3,3,Li'l Quinquin,7192.0,2,1,3204.0,44.5,Kino Lorber,"['Comedy', 'Crime', 'Mystery']",NaN,206,2015-01-02
4,4,Trace Amounts,80735.0,7,0,0.0,0.0,GathrFilms,"['Adventure', 'Documentary', 'Drama', 'History']",NaN,97,2015-01-02

In [3]:
Movies_imdb=pd.read_csv('tmdb.movies.csv')
Movies_imdb.head()

,Unnamed: 0,genre_ids,id,original_language,original_title,popularity,release_date,title,vote_average,vote_count
0,0,"[12, 14, 10751]",12444,en,Harry Potter and the Deathly Hallows: Part 1,33.533,2010-11-19,Harry Potter and the Deathly Hallows: Part 1,7.7,10788
1,1,"[14, 12, 16, 10751]",10191,en,How to Train Your Dragon,28.734,2010-03-26,How to Train Your Dragon,7.7,7610
2,2,"[12, 28, 878]",10138,en,Iron Man 2,28.515,2010-05-07,Iron Man 2,6.8,12368
3,3,"[16, 35, 10751]",862,en,Toy Story,28.005,1995-11-22,Toy Story,7.9,10174
4,4,"[28, 878, 12]",27205,en,Inception,27.920,2010-07-16,Inception,8.3,22186

In [4]:
Movies_imdb['title_lowercase']=Movies_imdb['original_title'].apply(lambda x:x.lower().replace(' ',''))

In [5]:
Movies_mojo['title_lowercase']=Movies_mojo['Title'].apply(lambda x:x.lower().replace(' ',''))

In [6]:
df=Movies_mojo.merge(Movies_imdb,how='left',on='title_lowercase')

In [7]:
df.drop(axis=1,columns="Unnamed: 0_x",inplace=True)

In [8]:
df.to_csv('Mojo_Plus_IMDB_Data.csv')